* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

em {
  text-decoration: underline;
}

div#cuadrado {
  border: 1px solid black;
  height: 8rem;
  width: 8rem;
}

div#contenedor {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem 8rem;
  max-width: max-content;
  margin: auto;
}

div#cronometro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div#tiempo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.numero {
  border: 1px solid black;
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
}

button {
  margin: 2rem;
  padding: 0.25rem;
}
